# not committing test files for now because they are very janky
test.*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# example build artifacts
examples/**/*.js
# example package lock as well
examples/**/package-lock.json
