dist/*
!dist/framework.ts

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test
sample.env

# Nuxt.js build / generate output
.nuxt
dist
